/* ПОДВАЛ страницы */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--background);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer__join {
  margin-left: 70px;
}

.footer__text {
  margin-bottom: 20px;

  color: var(--white-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer__subscribe {
  margin-left: 93px;
}
